<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title shown in window title</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <main>
      <header>
        <img id="headpic" src="img/bar.jpg" alt="bar picture"></img>
        <h1 id="headline">Welcome to BurgerHeaven</h1>
      </header>
      <section id="uppersection">
      <h3 class="whitetext">Select burger</h3>
      <p class="whitetext">This is where you execute burger selection</p>
      <div class="wrapper">
          <div class="box a">
            <h4>Best Burger EU</h4>
            <img class="burgerpics" src="img/burger1.jpg" alt="this is a burger"></img>
              <ul>
                <li>750 kCal</li>
                <li>Contains <span class="big">Gluten</span></li>
                <li>Contains <span class="big">lactose</span></li>
              </ul>
          </div>
          <div class="box b">
            <h4>NA Burger</h4>
            <img class="burgerpics" src="img/burger2.jpeg" alt="this is a burger"></img>
              <ul>
                <li>1337 kCal</li>
                <li>Contains <span class="big">meet</span>, duh</li>
                <li>Contains <span class="big">lactose</span></li>
              </ul>
          </div>
          <div class="box c">
            <h4>Yikes Burger</h4>
            <img class="burgerpics" src="img/burger3.jpg" alt="this is a burger"></img>
              <ul>
                <li>420 kCal</li>
                <li>Contains <span class="big">Gluten</span></li>
                <li>Contains <span class="big">stuff</span></li>
              </ul>
          </div>
        </div>
      </section>
      <section id="lowersection">
        <h3>Customer information</h3>
        
      <h4>Delivery information:</h4>
      <p>
        <label for="firstname">Full name</label><br>
        <input type="text" id="firstname" name="fn" required="required" placeholder="First- and Last name">
      </p>
      <p>
        <label for="email">E-mail</label><br>
        <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
      </p>
      <p>
        <label for="street">Street</label><br>
        <input type="text" id="firstname" name="fn" required="required" placeholder="Street name">
      </p>
      <p>
        <label for="house">House</label><br>
        <input type="number" id="email" name="em" pattern="[0-9]" required="required" placeholder="House number">
      </p>
      
      <p>
        <label for="recipient">Payment options</label><br>
        <select id="recipient" name="rcp">
          <option>Card</option>
          <option>Cash</option>
          <option>Swish</option>
          <option>Natura</option>
        </select>
      </p>
      <label>Gender</label>
      <form>
        <input type="radio" name="gender" value="male"> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <input type="radio" name="gender" value="other"> Non Binary<br>
        <input type="radio" name="gender" value="other"> Undisclosed
      </form>
      <button type="submit" id="sendbutton"><img id ="buttonpic" src="img/check.jpeg"> Send Info</button>
      </section>
    </main>
    <footer>
      2018 Hypothetical burgers Inc
    </footer>
  </body>
</html>
