body {
    font-family: arial;
    font-size: 1.5em ;
}

.big {
    font-weight: bold;
}

button:hover {
    background-color: coral;
}

table {
    width: 70%;
    color: #ffffff;
}

section {
    margin-left: 0.5em;
    width: 50em;
}

.burgerpics {
    height: 10em;
}
#sendbutton {
    margin: 1em;
    
}
#buttonpic {
    height: 20px;
    width: 30px;    
}
.whitetext {
    color: #ffffff;
}
#lowersection {
    padding-left: 1em;
    border: 0.2em dotted #000000;
    border-radius: 1em;
}
#uppersection {
    padding-left: 1em;
    border: 0.2em dotted #ffffff;
    border-radius: 1em;
    background-color: #000000
}

#headpic {
    width: 100%;
    height: auto;
    opacity: 0.4;
}

#headline {
    position: absolute;
    margin-top: -6.5em;
    margin-left: 5.5em;
}

header {
    width: 51.2em;
    height: 10em;
    overflow: hidden;
    margin-left: 0.5em;
    border-radius: 1em;
}
footer {
    margin-top: 1em;
    margin-left: 0.5em;
}


.wrapper {
     display: grid;
     grid-gap: 0.5em;
     color: #444;
 }

.box {
    color: #fff;
    border-radius: 0.2em;

 }

.a {
    grid-column: 1;
}

.b {
     grid-column: 2 ;
}

.c {
     grid-column: 3 ;
 }
