body {
    font-family: arial;
    font-size: 1.5em ;
}

.big {
    font-weight: bold;
}

button:hover {
    background-color: coral;
}

table {
    width: 65%;
}

section {
    margin: 30px;
}

#sendbutton {
    margin: 15px;
}

#lowersection {
    padding-left: 10px;
    border: 2px dotted #000000;
}
#uppersection {
    padding-left: 10px;
    border: 2px dotted #000000;
}
